@import '../../style/variables.less';

button, input[type=button] {
	&.button {
		cursor: pointer;
		outline: none;
		padding: 1em;
		background: @color-primary;
		border-radius: 4px;
		font-size: 1em;
		font-weight: bold;
		text-transform: uppercase;
		color: #000;
		border: 2px solid @color-primary;

		&:hover {
			border: 2px solid #000;
			color: #000;
		}

		&.invert {
			border: 2px solid @color-primary;
			color: @color-primary;
			background: #fff;

			&:hover {
				color: lighten(@color-primary, 20%);
			}
		}
	}
}
