div.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 10%;
	flex: 1;

	.title {
		font-size: 30px;
		font-weight: bold;
		text-align: center;
	}
	.description {
		margin: 40px 0;
	}
	.options {
		display: flex;
		width: 100%;
		margin-bottom: 60px;
	}
	.manageYourChoices {
		flex: 1;
		margin-right: 10px;
	}
	.acceptAll {
		flex: 1;
	}
}
