@color-primary: #37a6eb;
@color-border: #eaeaea;
@color-text: #333333;
@color-secondary: #7b7b7b;
@color-textLight: #999;

@color-linkColor: @color-primary;
@color-linkColorHover: darken(@color-linkColor, 20%);
@color-table-background: rgba(144, 144, 144, 0.16);
@color-buttonSuccess: #37a6eb;

@smartphone: ~"screen and (max-width : 767px)";
