@import '../../../../style/variables';

.purposes {
	display: flex;
	flex: 1;

	.purposeList {
		font-size: 12px;
		font-weight: bold;
		flex: 1;
		max-width: 200px;
		border-right: 1px solid @color-border;
		overflow-y: auto;
		overflow-x: hidden;
	}
	.purposeItem {
		display: flex;
		align-items: center;
		height: 50px;
		padding-left: 10px;
		background-color: @color-border;
		border-bottom: 1px solid white;
		cursor: pointer;

		&:last-child {
			border-bottom: 1px solid @color-border;
		}

		&.selectedPurpose {
			background-color: white;
			cursor: auto;
		}
	}
	.purposesDescription {
		flex: 1;
		padding: 20px;
		overflow: auto;

		@media screen and (max-width: 768px) {
			overflow: scroll;
			height: 47vh;
		}
	}
	.vendorsSection {
		margin: 20px 0;

		.header {
			font-size: 22px;
			font-weight: 700;
			flex: 0 0 100%;
			display: inline-block;
			margin: 5% 0;
		}
	}
	.publisherSection {
		border-bottom: 1px solid #eaeaea;
	}
	.sectionInfo {
		.sectionHeader{
			display: flex;
    		flex-wrap: wrap;

			.title {
				font-size: 24px;
				font-weight: bold;
				flex: 0 0 100%;
				@media @smartphone {
					font-size: 20px;
					padding-bottom: 5px;
				}
			}
		}
		.sectionBody {
			margin: 3% 0;
		}
	}

	.purposeDetail {
		margin-bottom: 10%;
		overflow: auto;
		height: auto;

		.detailHeader {
			display: flex;
			flex-wrap: wrap;
		}
		.title {
			font-size: 24px;
			font-weight: bold;
			flex: 0 0 100%;
			@media @smartphone {
				font-size: 20px;
				padding-bottom: 5px;
			}
		}
		.active {
			color: @color-primary;
			font-weight: bold;
			display: flex;
			align-items: center;
			@media @smartphone {
				flex: 1 1 auto;
			}
		}
		.body {
			margin: 5% 0;
		}
	}
	.vendorLink {
		display: block;
		margin-top: 30px;
		font-size: 12px;
	}
}
