<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>System1 CMP</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
</head>

<body>
	<!--// INLINE
	<script>{{{ htmlWebpackPlugin.options.inline }}}</script>
	-->
	<h1>System1 CMP Reference Page</h1>
	<button id="show-button">showConsentTool</button>
	<!--// LOADER //-->
	<script src="./loader.js"></script>
	<script>
		const config = {
			scriptSrc: window.location.search.indexOf("remote=true") >= 0 ? 'https://s.flocdn.com/cmp/s1.cmp.js' : './cmp.js',
			// pubVendorListLocation: './assets/pubvendors.json',
			// pubVendorListLocation: 'https://s.flocdn.com/cmp/pubvendors.json',
			logging: false,
			storePublisherData: true, // required for customPurposeListLocation
			customPurposeListLocation: './assets/purposes.json',
			// globalVendorListLocation: './assets/quiz.pubvendors.json',
			globalVendorListLocation: 'https://vendorlist.consensu.org/vendorlist.json',
			globalConsentLocation: 'https://s.flocdn.com/cmp/docs/portal.html',
			storeConsentGlobally: false,
			// localization: {},
			// forceLocale: 'es',
			theme: {
				isBannerModal: true
			},
			gdprApplies: true,
			// allowedVendorIds: null,
			shouldAutoConsent: false,
			shouldAutoConsentWithFooter: true
		}

		function onConsentChanged(result) {
			if (document.cookie.indexOf("gdpr_opt_in=1") < 0) {
				console.log("cmp:onConsentChanged all-consent:failed", result);
				// window.location.reload();
			} else {
				console.log("cmp:onConsentChanged all-consent:succeeded", result);
			}
		}

		cmp('init', config, function (result) {
			if (result.consentRequired) {
				if (result.warningMsg) {
					console.log('cmp:init: warningMsg', result.warningMsg);
				}
				if (result.errorMsg) {
					console.log('cmp:init: errorMsg', result.errorMsg);
					cmp('showConsentTool');
				} else {
					// consent achieved
					if (document.cookie.indexOf("gdpr_opt_in=1") >= 0) {
						console.log("cmp:init: all consent achieved", result);
					} else {
						console.log("cmp:init: only some consent achieved", result);
					}
				}
				cmp('addEventListener', 'onConsentChanged', onConsentChanged);
			} else {
				console.log("cmp:init: consent not required", result);
			}
		});

		const showBtn = document.getElementById('show-button');
		showBtn.addEventListener('click', function () {
			cmp('showConsentTool');
		});

	</script>


	<!--//
	<script>
		cmp('init', {
			scriptSrc: './s1.cmp.js',
			countryCode: 'us',
			logging: false,
			pubVendorListLocation: './pubvendors.json'
		}, (result) => {
			console.log("init", result);
			if (result.consentRequired && !result.hasConsented) {
				cmp('showConsentTool'); // gdpr
			}
		});

		cmp('addEventListener', 'onSubmit', (result) => {
			// Turn GA on or off
			// Turn OMJS on or off
			//
			console.log("onSubmit", result);
		});
	</script>
	//-->

</body>

</html>
